* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

header h1,
h2,
.btn {
    font-family: 'Cinzel Decorative', cursive;
}

h1 {
    text-align: center;
}

header {
    background-color: grey;
    padding: 15px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('imgs/cal-salmon-badass.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin-top: 25vh;
}

header p {
    margin: 0;
}


/* begin scroll down link */

/* this is for the text itself */
header a {
    position: absolute;
    top: 80%;
    padding-top: 70px;
    padding-left: 10px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

header a:hover {
    opacity: .5;
}

/* this is the scroll circle */
header a span {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 56px;
    height: 56px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
}

/* this is the scroll arrow */
header a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* end scroll down link */

form {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    border-radius: 10px;
}

ul {
    list-style-type: none;
}

a {
    color: red;
}

.hidden {
    display: none;
}

.err-msg {
    color: red;
}

input[type=radio] {
    margin-left: 5px;
}

input[type=checkbox] {
    margin-left: 5px;
}

input[type=submit] {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;

    color: white;
    background-color: #302f91;
    border-radius: 10px;
}

.btn {
    width: 100%;
    text-align: center;
}

.pic-divider {
    background-image: url('imgs/cal-salmon-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#results {
    background-color: lightgrey;
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.result-block {
    background-color: lightgrey;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    border-bottom: black 1px solid;
}


/* aligns private links all the way left */
.result-block ul {
    padding-left: 15px;
}

/* clumps the weather info together */
.weather-blurb {
    margin: 0px;
}

/* adds the margin back in after elimnating the odd spaces between weather-blurbs */
.weather-info {
    margin-bottom: 10px;
}

/* moves the weather icon over */
.float {
    float: left;
    padding-left: 12%;
}

.travel {
    font-weight: bold;
}

#js-directions p {
    padding-left: 15px;
}

#another-river {
    text-align: center;
    padding: 10px;
}

#another-river a {
    text-decoration: none;
}


/* on wider screens: private/outfitter radios in same line as class checkboxes. two different blocks side-by-side so that the river list sits below them both */

@media only screen and (min-width: 600px) {
    header h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.2em;
    }

    form {
        width: 80%;
    }
}

@media only screen and (min-width: 900px) {
    body {
        font-size: 1.15em;
    }

    header h1 {
        font-size: 4em;
    }

    .container {
        display: flex;
        justify-content: space-around;
    }

    .result-block {
        padding: 25px;
    }

    h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }

    header h1 {
        font-size: 5em;
    }

    .container-2 {
        display: flex;
        justify-content: space-around;
    }

    .large-screen {
        margin-bottom: 25px;
    }

    .large-screen legend{
        padding-top: 35px;
        padding-bottom: 15px;
    }

    .container-3 {
        display: flex;
        justify-content: center;
    }

    .container-3 legend {
        padding-bottom: 15px;
    }
}